.gallery{
  margin-top: 5%
}

.card-title-s{
  /* margin-top: 55%; */
  color: #000;
}
/* .card-title-s:hover{
  font-weight: bolder;
  transition: all 1s;
 
} */
.doctor-card:hover {
  transform: translateY(-10px);
  /* transform: rotate(360deg); */
  box-shadow: 0px 10px 40px black;
  transition: all 1s;
}
