.dec-img{
  margin-top: 2%;
}

.description{
transition: all 2s;
}
.gallery-cont:active{
  transform: scale(1.5,2);
  transition: all 2s;
}
.gallery-cont:hover{
  transform: scale(1.2,1.7);
  transition: all 2s;
}
.gallery-heading{
  margin-top: 3%;
}