/* 
font-family: 'Kanit', sans-serif;       for heading
font-family: 'Noto Sans', sans-serif;   for para
#f4b667
#cbe4de
#9d5901
#B9E9FC
 */

* {
  padding: 0;
  margin: 0;
}
/*+++++++++++++
 manu/navbar 
 ++++++++++++*/
.logo-icon {
  color: #009750;
}
.manu {
  width: 100vw;
}
.nav-link:hover {
  border-bottom: 4px solid #000000;
}
.nav-serch {
  font-size: 18px;
  margin-right: 18px;
  font-weight: 700;
}
.btn-outline:hover {
  color: #ffffff;
}
.btn-serch {
  border: 1px solid #f4b667;
}
.manu-section {
  background-color: #ffffff;
}
.nav-link {
  font-size: 18px;
  margin-right: 18px;
  font-weight: 700;
}
.navbar-nav {
  margin-left: 24px;
}
.logo {
  padding-right: 10%;
}
/*++++++++++++++++++++++++++++++++
           Hero section 
++++++++++++++++++++++++++++++++++*/
.hero-bgc {
  background-color: #f4b667;
  width: 100vw;
  height: 100vh;
}
.btn-outline-info {
  background-color: #cbe4de;
  color: #000000;
  font-weight: 700;
  border: 2px solid #000000;
  margin-left: 7%;
  margin-bottom: 2%;
}
.btn-outline-info:hover {
  border: 2px solid #ffffff;
  box-shadow: 0px 2px 5px black;
  background-color: #19a7ce;
  transition: all 1s;
  color: #ffffff;
}
.display-1 {
  margin-top: 10%;
  line-height: 110%;
  margin-bottom: 5%;
  margin-left: 4%;
  font-family: "Kanit", sans-serif;
}
.main-content {
  color: #b9e9fc;
}
.hero-icon {
  margin-left: 15%;
}

.typewriter {
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 1s step-start infinite, text 5s steps(18) alternate infinite;
}

@keyframes cursor {
  0%,
  100% {
    border-color: #b9e9fc;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 15ch;
  }
}
.h5 {
  margin-bottom: 5%;
  margin-left: 5%;
}
.hero-img {
  margin-top: 30%;
}
/*++++++++++++++++++++++++++++++++
   Request call back popup section 
++++++++++++++++++++++++++++++++++*/
.request-call-cont {
  position: absolute;
  top: 10%;
  left: 18%;
  background-color: #b9e9fc;
  padding: 2%;
  height: 85vh;
  width: 65vw;
  overflow: scroll;
}
.request-call-close {
  padding: 1%;
}
.Callback-btn {
  margin-top: 4%;
}

.request-hidden {
  display: none;
}
/*++++++++++++++++++++++++++++++++
   Know more popup section 
++++++++++++++++++++++++++++++++++*/
.knowmore-cont {
  position: absolute;
  top: 10%;
  left: 18%;
  background-color: #fff;
  padding: 2%;
  height: 75vh;
  width: 65vw;
  overflow: scroll;
}
.testimonial-suncont-1 {
  background-color: #fcc8d1;
  margin-bottom: 1%;
}
.testimonial-suncont-2 {
  background-color: #fee8b0;
  margin-bottom: 1%;
}
.testimonial-suncont-3 {
  background-color: #98dfd6;
  margin-bottom: 1%;
}
.testimonialpara {
  margin-top: 2%;
}
.testimonial-author {
  font-size: 24px;
}
.comma {
  width: 2%;
}
.testimonial-img {
  /* border-radius: 30%; */
  border-top-left-radius: 10%;
  border-bottom-right-radius: 30%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.knowmore-close {
  margin-top: 2%;
}
.knowmore-heading {
  color: #19a7ce;
  margin-bottom: 2%;
}
.know-hidden {
  display: none;
}

/* ++++++++++++++++++++++++++++++++++
            Our Service  
  +++++++++++++++++++++++++++++++++++*/
.service-heading {
  color: #495057;
  font-family: "Kanit", sans-serif;
}
.servive-subheading {
  color: #adb5bd;
  font-family: "Noto Sans", sans-serif;
  margin-top: -2%;
}
.servive-subheading:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #495057;
}
.service-para {
  color: #adb5bd;
  font-family: "Noto Sans", sans-serif;
}
.service-para:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #495057;
}
.service-section {
  margin-top: 5%;
}
.sub-service-section {
  margin-bottom: 3%;
  padding: 2%;
  border-radius: 24px;
}
.sub-service-section:hover {
  background-color: #f7db6a;
  transition: all 2s;
}
/* .fa-solid {
  color: #cbe4de;
} */
/*++++++++++++++++++++++++++++++++
    Read popup section 
++++++++++++++++++++++++++++++++++*/
.read-more-popup {
  position: fixed;
  top: 10%;
  left: 18%;
  background-color: #fff;
  padding: 2%;
  height: 75vh;
  width: 65vw;
  overflow: scroll;
  z-index: 1;
}
.readmore-hidden {
  display: none;
}

/* ++++++++++++++++++++++++++++++++++
            Our Deperment
  +++++++++++++++++++++++++++++++++++*/
.deperment-hero {
  background-color: #f4b667;
  width: 100vw;
  height: 124vh;
}
.deperment-heading {
  padding-top: 2%;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}

.deperment-subheading {
  color: #495057;
  margin-top: -2%;
  font-family: "Noto Sans", sans-serif;
}
.deperment-subheading:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #ffffff;
}
.deperment-menu {
  margin-top: 2%;
}
.determent-menu-eliment {
  font-size: 24px;
  font-family: "Kanit", sans-serif;
}
.determent-menu-eliment:hover {
  color: #ffffff;
}
.btn-outline-secondary {
  color: #000000;
  font-size: 20px;
}
.btn-outline-secondary:hover {
  border: 1px solid #8d7b68;
  transition: all 1s;
  background-color: #f4b667;
}
.deperment-img {
  margin-top: 4%;
}
.drperment-para {
  margin-top: 8%;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}
.drperment-subpara {
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
}
.read-btn {
  margin-top: 6%;
}
/* ++++++++++++++++++++++++++++++++++
              See all
  ++++++++++++++++++++++++++++++++++++ */
.deperment-hidden {
  display: none;
}
.deperment-seeall {
  margin-top: 2%;
}

/* ++++++++++++++++++++++++++++++++++
            Our Doctor
  +++++++++++++++++++++++++++++++++++*/
.doctor-heading {
  color: #495057;
  font-family: "Kanit", sans-serif;
}
.doctor-subheading {
  color: #adb5bd;
  font-family: "Noto Sans", sans-serif;
  margin-top: -2%;
}
.doctor-subheading:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #495057;
}

.btn-outline-secondary {
  color: #000000;
  font-size: 20px;
}
.btn-outline-secondary:hover {
  border: 1px solid #8d7b68;
  transition: all 1s;
  background-color: #f4b667;
}
.doctor-btn {
  margin-right: 9%;
}
.doctor-card:hover {
  transform: translateY(-10px);
  /* transform: rotate(360deg); */
  box-shadow: 0px 10px 40px black;
  transition: all 1s;
}
.doctor-hov {
  margin-top: 4%;
}
/* ++++++++++++++++++++++++++++++++++
            Our Blog
  +++++++++++++++++++++++++++++++++++*/
.blog {
  background-color: #f4b667;
  width: 100vw;
  height: 100vh;
}
.blog-heading {
  padding-top: 2%;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}

.blog-subheading {
  color: #495057;
  margin-top: -2%;
  font-family: "Noto Sans", sans-serif;
}
.blog-subheading:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #ffffff;
}
.blog-cont-heading {
  font-family: "Kanit", sans-serif;
  margin-top: 1%;
}
.blog-cont-subheading {
  font-family: "Noto Sans", sans-serif;
}
.read-more {
  color: #ffffff;
  text-decoration: none;
}
.blog-cont-sec {
  margin-top: 5%;
}
.blog-text {
  margin-top: 12%;
}
/* ++++++++++++++++++++++++++++++++++
            Our Testimonial
  +++++++++++++++++++++++++++++++++++*/
.testimonial-heading {
  color: #495057;
  font-family: "Kanit", sans-serif;
}
.testimonial-subheading {
  color: #adb5bd;
  font-family: "Noto Sans", sans-serif;
  margin-top: -2%;
}
.testimonial-subheading:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #495057;
}
.Testimonial-img {
  border-radius: 10%;
}
.testimonial-text {
  margin-top: 8%;
  font-family: "Noto Sans", sans-serif;
  /* margin-top: -2%; */
}
.testimonial-head {
  font-family: "Kanit", sans-serif;
  margin-top: 5%;
}
.testimonial-btn {
  background-color: #f4b667;
  border-radius: 80%;
}
/* ++++++++++++++++++++++++++++++++++
            Our Appointment
  +++++++++++++++++++++++++++++++++++*/
.appoinment {
  background-color: #f4b667;
  width: 100vw;
  height: 80vh;
  margin-top: 5%;
}
.appoinment-heading {
  padding-top: 2%;
  font-family: "Kanit", sans-serif;
  color: #ffffff;
}

.appoinment-subheading {
  color: #495057;
  margin-top: -2%;
  font-family: "Noto Sans", sans-serif;
}
.appoinment-subheading:hover {
  transform: translateY(-10px);
  transition: all 1s;
  color: #ffffff;
}
.input-sec {
  margin-top: 4%;
}
.btn-light {
  margin-top: 5%;
  text-align: center;
  margin-left: 43%;
}
/* ++++++++++++++++++++++++++++++++++
           Footer Section
  +++++++++++++++++++++++++++++++++++*/
footer {
  background-color: #f4b667;
  margin-top: 10%;
}
.footer-span {
  color: #ffffff;
}
.footer-hrading {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
}
.footer-icon {
  margin-left: 2%;
}
.icon-cont {
  margin-top: 12%;
}
.footer-img {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 20vw;
}
.footer-subheading {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  margin-top: 90%;
  color: #ffffff;
}
.footer-text {
  font-size: 12px;
}
/* ++++++++++++++++++++++++++++++++++
           Whatapp Section
  +++++++++++++++++++++++++++++++++++*/

.info-icon-w {
  position: fixed;
  top: 89%;
  right: 5%;
  font-size: 200%;
}
.info-icon-w:hover {
  font-size: 280%;
  transition: all, 1s;
}
.info-icon-i{
  
  /* font-size: 200%; */
  /* background-color:rgb(229, 124, 35) ; */
}
/* ++++++++++++++++++++++++++++++++++
           Database Section
  +++++++++++++++++++++++++++++++++++*/

.database-popup {
  position: fixed;
  top: 10%;
  left: 18%;
  background-color: #fff;
  padding: 2%;
  height: 75vh;
  width: 65vw;
  overflow: scroll;
  /* z-index: -1; */
  background-color: #DDE6ED;
}
.database-hidden {
  display: none;
}
.detail-heading{
  margin-top: 2%;
  margin-bottom: 1%;
}