.knowmore-cont {
  margin-top: 2%;
  width: 90vw;
  /* box-shadow: 5px 0px 5px 0px ; */
}
.testimonial-cont {
  margin-top: 5%;
  width: 70vw;
}
.testimonial-suncont {
  background-color: aqua;
  /* width: 100px; */
}
.testimonialpara {
  margin-top: 2%;
}
.testimonial-img {
  /* border-radius: 30%; */
  border-top-left-radius: 10%;
  border-bottom-right-radius: 30%;
  margin-top: 15%;
}
.comma {
  width: 2%;
}
.testimonial-author {
  padding-bottom: 3%;
  font-size: 24px;
}
.testimonial-button{
  margin-top: 3%;
}
.testimonial-suncont-1 {
  background-color: #fcc8d1;
  margin-bottom: -3%;
}
.hidden-section{
  display: none;
}
.testimonial-suncont-2 {
  background-color: #fee8b0;
  margin-bottom: -3%;
}
.testimonial-suncont-3 {
  background-color: #98dfd6;
  margin-bottom: -3%;
}
.see-hidden {
  display: none;
}
.testimonial-para {
  font-size: 24px;
}
.testimonial-subheading{
  color: #19A7CE;
}